.pokemon {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #49d0b0;
  color: whitesmoke;
}

.pokemon .number {
  color: #26302d;
  font-size: 0.625rem;
  opacity: 0.3;
  text-align: right;
}

.pokemon .name {
  text-transform: capitalize;
  color: whitesmoke;
  margin: 0.25rem;
  margin-bottom: 0.25rem;
}

.pokemon .detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon .detail .types {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pokemon .detail .types .type {
  background-color: #61e1ca;
  color: whitesmoke;
  padding: 0.25rem 1rem;
  margin: 0.25rem 0;
  font-size: 0.625rem;
  border-radius: 1rem;
}

.pokemons .detail img {
  height: 70px;
  max-width: 100%;
  align-self: flex-end;
}