* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.content {
  padding: 1rem;
}

.content h1 {
  margin: 0;
}

.pokemons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pokemons li {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #14a06f;
  color: whitesmoke;
}

ol.pokemons li img {
  height: 100px;
  max-width: 100%;
  align-self: flex-end;
}
